/* Parametres Globaux */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../asset/backimg.png);
    background-size: auto;
    background-repeat: no-repeat;
}

:root {
    --back-color: #161616;
    --font-color: #ffffff;
    --font-link: Arial;
    --font-h1: 'Bebas Neue', cursive;;
}


/* Section Nav */
.logo img{
    width: 70px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#161616;
    font-family: var(--font-link);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-icon{
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.nav-links a{
    color: var(--font-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-style: italic;
    font-size: 15px;
}

.nav-links li{
    list-style-type: none;
}

.nav-icon a{
    color: var(--font-color);
}

/* Burger nav */
.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: var(--font-color);
    margin: 5px;
}

/* Media queries */

@media  (max-width:1230px) {
    .nav-links{
        width: 55%;
    }
    .nav-icon {
        width: 15%;
    }
    
}

@media  (max-width:940px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-icon{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 94vh;
        display: flex;
        margin: 15px 189px;
        gap: 10px;
    }
    
}